<div class="row">
    <div class="col-md-12">
        <div id="anacona16-sonata-media-webcam-camera" data-shutter-ogg-url="{{ asset('bundles/sonatamediawebcamprovider/jpeg_camera/shutter.ogg') }}" data-shutter-mp3-url="{{ asset('bundles/sonatamediawebcamprovider/jpeg_camera/shutter.ogg') }}" data-jpeg-camera="{{ asset('bundles/sonatamediawebcamprovider/jpeg_camera/jpeg_camera.swf') }}" data-no-canvas-photo="{{ asset('bundles/sonatamediawebcamprovider/no_canvas_photo.jpg') }}">
            <div class="anacona16-sonata-media-webcam-placeholder">
                {{ 'sonata.media.provider.webcam.placeholder'|trans({}, 'SonataMediaWebcamProviderBundle') }}
            </div>
        </div>

        <hr>

        <button type="button" id="anacona16-sonata-media-webcam-take-snapshots" class="btn btn-default"><i class="fa fa-camera"></i> {{ 'form.button.capture'|trans({}, 'SonataMediaWebcamProviderBundle') }}</button>
        <button type="button" id="anacona16-sonata-media-webcam-show-stream" class="btn btn-default"><i class="fa fa-camera"></i> {{ 'form.button.capture_again'|trans({}, 'SonataMediaWebcamProviderBundle') }}</button><br>
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
        <div id="anacona16-sonata-media-webcam-snapshots"></div>
    </div>
</div>

<script type="text/javascript">
    (function ($) {
        $(function () {
            anacona16SonataMediaWebcamProvider();
        });
    })(jQuery);
</script>
